<a href="https://colab.research.google.com/github/lawgorithm/sql_practice/blob/main/Laptop_vs_Mobile_Viewership_%5BNew_York_Times_SQL_Interview_Question%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://datalemur.com/questions/laptop-mobile-viewership

In [ ]:
%%sql
SELECT
  SUM(CASE WHEN device_type = 'laptop' THEN 1 END) AS laptop_views,
  SUM(CASE WHEN device_type != 'laptop' THEN 1 END) AS mobile_views
FROM viewership;

In [ ]:
%%sql
SELECT
  SUM(CASE WHEN device_type = 'laptop' THEN 1 ELSE 0 END) AS laptop_views,
  SUM(CASE WHEN device_type != 'laptop' THEN 1 ELSE 0 END) AS mobile_views
FROM viewership;

In [ ]:
%%sql

With table1 AS (
SELECT
  (CASE
    WHEN device_type = 'laptop' THEN 'laptop'
    ELSE 'mobile'
    END) as device,
  COUNT(*) as cnt
FROM viewership
GROUP BY device
)
SELECT
  SUM(CASE WHEN device = 'laptop' THEN cnt ELSE 0 END) as laptop_views,
  SUM(CASE WHEN device = 'mobile' THEN cnt ELSE 0 END) as mobile_views
FROM table1
;

In [ ]:
%%sql

SELECT
  COUNT(*) FILTER (WHERE device_type = 'laptop') AS laptop_views,
  COUNT(*) FILTER (WHERE device_type != 'laptop') AS mobile_views
FROM viewership;

In [ ]:
# This works because I think COUNT will ignore nulls but see below
%%sql

SELECT
  COUNT(CASE WHEN device_type = 'laptop' THEN 1 END) AS laptop_views,
  COUNT(CASE WHEN device_type != 'laptop' THEN 1 END) AS mobile_views
FROM viewership;

# The following doesn't work

In [ ]:
%%sql

SELECT
  COUNT(CASE WHEN device_type = 'laptop' THEN 1 ELSE 0 END) AS laptop_views,
  COUNT(CASE WHEN device_type != 'laptop' THEN 1 ELSE 0 END) AS mobile_views
FROM viewership;