<a href="https://colab.research.google.com/github/lawgorithm/sql_practice/blob/main/Top_Three_Salaries_%5BFAANG_SQL_Interview_Question%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://datalemur.com/questions/sql-top-three-salaries

In [ ]:
%%sql
WITH table1 AS (
SELECT
  name,
  department_name,
  salary,
  # DENSE_RANK() will handle ties appropriate (if two people have the same
  # salary they will get the same rank.
  # ROW_NUM() just numbers rows to that won't handle ties.
  # RANK() is also bad because it will skip some numbers when ties. Like, it two
  # people are tied for second it will rank 1, 2, 2, 4
  DENSE_RANK () OVER (
    PARTITION BY department_name
    ORDER BY salary DESC
  ) as row_num
FROM
  employee as a
  LEFT JOIN
  department as b
  ON (a.department_id = b.department_id)
)
SELECT
  name,
  department_name,
  salary
FROM table1
WHERE
  row_num <= 3
ORDER BY department_name ASC, salary DESC, name ASC

;